DJANGO_SECRET_KEY=change-this-to-a-strong-secret
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=.vercel.app

MYSQL_HOST=15.134.39.121
MYSQL_PORT=3306
MYSQL_DATABASE=vehicle_service_db
MYSQL_USER=mohit
MYSQL_PASSWORD=your_mysql_password
MYSQL_SSL=true
