DJANGO_SECRET_KEY=change-this-development-key
DJANGO_DEBUG=true

MYSQL_DATABASE=vehicle_service_db
MYSQL_USER=mohit
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=15.134.39.121
MYSQL_PORT=3306
MYSQL_SSL=false
